fastapi
uvicorn[standard]
pydantic
pydantic-settings
pandas
python-multipart
aiofiles
loguru
ollama
sqlalchemy
aiosqlite
httpx
passlib
bcrypt==4.0.1
python-jose[cryptography]
pydantic[email]
sentence-transformers
chromadb
pypdf
python-docx
langchain-core
langchain-text-splitters
