services:
  backend:
    build:
      context: ./alfacreator-backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    # Мы убрали network_mode: "host", чтобы backend был в той же сети, что и frontend

  frontend:
    build:
      context: ./alfacreator-frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend